language: rust

rust:
  - nightly

install:
  - which xargo || cargo install xargo
  - which just || cargo install just
  - rustup component add rust-src

script:
  - just kernel
  - just iso

addons:
  apt:
    packages:
      - xorriso
      - nasm
      - qemu
      - build-essential
      - mtools
