[package]
name = "weclaw_os"
version = "0.1.0"
authors = ["Robert Węcławski <r.weclawski@gmail.com>"]

[dependencies]
rlibc = "1.0"
spin = "0.4.4"
compiler_builtins = { git = "https://github.com/rust-lang-nursery/compiler-builtins" }
vga_console = { path = "drivers/video/console/vga_console" }

[lib]
crate-type = ["staticlib"]