[package]
name = "liquid_os"
version = "0.1.0"
authors = ["Robert Węcławski <r.weclawski@gmail.com>"]

[dependencies]
x86_64 = "0.1.2"
multiboot2 = "0.3.2"
spin = "0.4.4"
bitflags = "1.0.1"
volatile = "0.2.3"
compiler_builtins = { git = "https://github.com/rust-lang-nursery/compiler-builtins" }

[lib]
crate-type = ["staticlib"]